#logo {
    
    left: 50%;
    
}

#contact {
    border-radius: 9px;
    background-color: #008037;
    margin-left: 2%;
    padding: 0.5% 1%;
    border: none;
    -o-text-overflow:initial;
}


.dropdown {
    float: left;
    overflow: visible;
    margin-left: 2%;
  }
  
  /* Dropdown button */
  .dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: black;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
  }
  
  /* Add a red background color to navbar links on hover
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: wheat;
  } */
  
  /* Dropdown content (hidden by default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: lightblue;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  /* Add a grey background color to dropdown links on hover */
  .dropdown-content a:hover {
    background-color: rgb(85, 85, 245);
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }

  #table {
    margin-left: auto;
    margin-right: auto;
    width:30%;
  }

  .table-row {
    padding-right: 5%;
    padding-bottom: 5%;
  }

  #recentInv {
    text-align: center;
    margin-bottom: 2%;
    margin-top: 5%;
    font-size: 2vmax;
    color: black;
  }

  .trhd {
    color:black;
    font-size: 1.25vmax;
    padding-left: 5%;
  }

  #stockimg {
    margin-right: 10%;
  }

  .bruh {
    display: flex;
    justify-content: center;
    margin-top: 10%;
  }

  .registerInfo {
    margin-top: 5%;
    
  }

  .contacct {
    margin-left: 2%;
  }

  #mainNav {
    display: inline;
  }

  #end {
    margin-bottom: 10%;
  }

  #fafe {
    color: white !important;
    fill: white;
  }

  #jk {
    margin-left: 2%;
  }